* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Hanken Grotesk', sans-serif;
}

:root {
    --primary_light-red: hsla(0, 100%, 67%);
    --primary_orangey-yellow: hsl(39, 100%, 56%);
    --primary_green-teal: hsl(166, 100%, 37%);
    --primary_cobalt-blue: hsl(234, 85%, 45%);
    --primary_light-red--LOW-OPACITY: hsla(0, 100%, 67%, 0.08);
    --primary_orangey-yellow--LOW-OPACITY: hsl(39, 100%, 56%, 0.08);
    --primary_green-teal--LOW-OPACITY: hsl(166, 100%, 37%, 0.08);
    --primary_cobalt-blue--LOW-OPACITY: hsl(234, 85%, 45%, 0.08);
    --gradient-background_light-slade-blue: hsl(252, 100%, 67%);
    --gradient-background_light-royal-blu: hsl(241, 81%, 54%);
    --circle_violet-blue: hsla(256, 72%, 46%, 1);
    --circle_persian-blue: hsla(241, 72%, 46%, 0);
    --neutral_white: hsl(0, 0%, 100%);
    --neutral_pale-blue:  hsl(221, 100%, 96%);
    --neutral_light-lavender: hsl(241, 100%, 89%);
    --neutral_dark-gray-blue: hsl(224, 30%, 27%);
    --weight-medium: 500;
    --weight-heavy: 700;
    --weight-bold: 800;
    --font-big: 5.8rem;
    --font-medium: 2rem;
    --font-subtitles: 1.8rem;
    --font-text: 1.4rem;
    --link-color: hsl(228, 45%, 44%);
}

/* MAIN CONTAINER */

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6rem;
}

.data-wrapper {
    display: flex;
    flex-direction: column;
    height: 90%;
}

/* TOP CONTAINER */

.top {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 2.4rem;
    height: 48%;
    width: 100%;
    padding-block: 2.4rem;
    padding-inline: 4.8rem;
    background: linear-gradient(var(--gradient-background_light-slade-blue), var(--gradient-background_light-royal-blu));
    border-bottom-left-radius: 3.2rem;
    border-bottom-right-radius: 3.2rem;
}

.top .top-result {
    color: var(--neutral_light-lavender);
    font-size: var(--font-medium);
}

.circle {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--circle_violet-blue), var(--circle_persian-blue) );
}

.circle h1 {
    font-size: var(--font-big);
    color: var(--neutral_white);
}

.circle h3 {
    font-size: var(--font-subtitles);
    color: var(--neutral_light-lavender);
    opacity: .5; /*THIS IS THE TRICKKKK*/
}

.subtitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.subtitle h2 {
    color: var(--neutral_white);
    font-size: var(--font-medium);
}

.subtitle h3 {
    color: var(--neutral_light-lavender);
    font-size: var(--font-subtitles);
    text-align: center;
    font-weight: var(--weight-medium);
}




/* BOTTOM CONTAINER */

.bottom {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.4rem;
    height: 52%;
}

.analytics-wrapper {
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.analytics-wrapper h3 {
    font-size: var(--font-medium);
    color: var(--neutral_dark-gray-blue);
}

.stats-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 100%;
}

.stats-container .stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    width: 100%;
    height: 5.2rem;
    font-weight: var(--weight-heavy);
    font-size: var(--font-text);
    border-radius: 1rem;
}

.stat .left_stat {
    display: flex;
    gap: 1.6rem;
}

.stat .right_stat {
    color: var(--neutral_dark-gray-blue);
    display: flex;
    gap: 1rem;
}

.right_stat .total {
    opacity: .4;
}

.stat .icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 2rem;
    height: 2rem;
}

.stat-1 {
    background-color: var(--primary_light-red--LOW-OPACITY);
}
.stat-1 h4 {
    color: var(--primary_light-red);
}
.stat-1 .icon-reaction {
    background-image: url('./assets/images/icon-reaction.svg');
}

.stat-2 {
    background-color: var(--primary_orangey-yellow--LOW-OPACITY);
}
.stat-2 h4 {
    color: var(--primary_orangey-yellow);
}
.stat-2 .icon-memory {
    background-image: url('./assets/images/icon-memory.svg');
}

.stat-3 {
    background-color: var(--primary_green-teal--LOW-OPACITY);
}
.stat-3 h4 {
    color: var(--primary_green-teal);
}
.stat-3 .icon-verbal {
    background-image: url('./assets/images/icon-verbal.svg');
}

.stat-4 {
    background-color: var(--primary_cobalt-blue--LOW-OPACITY);
}
.stat-4 h4 {
    color: var(--primary_cobalt-blue);
}
.stat-4 .icon-visual {
    background-image: url('./assets/images/icon-visual.svg');
}

.continue-button {
    background-color: var(--neutral_dark-gray-blue);
    color: white;
    font-size: var(--font-subtitles);
    font-weight: var(--weight-heavy);
    padding: 1.6rem;
    width: 100%;
    border-radius: 4rem;
    text-align: center;
}

.continue-button:hover {
    background: linear-gradient(var(--gradient-background_light-slade-blue), var(--gradient-background_light-royal-blu));
    cursor: pointer;
}

/* FOOTER */

.attribution { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.6rem;
    width: 100%;
    font-size: var(--subtitles-font);
    text-align: center;
    background-color: var(--primary_cobalt-blue--LOW-OPACITY);
    color: var(--circle_violet-blue);
    padding: 4rem;
    font-size: var(--font-text);
    /* margin-bottom: 4rem; */
}

.attribution a { 
    color: var(--neutral_pale-blue);
    background-color: var(--link-color);
    padding: 1rem;
    border-radius: 2rem; 
    text-decoration: none;
}

.attribution a:hover {
    background-color: var(--primary_cobalt-blue--LOW-OPACITY);
    color: var(--primary_cobalt-blue);
}


/* Media queries */

@media only screen and (min-width: 768px) {
    body {
        height: 100vh;
        align-items: center;
    } 
    
    .data-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .top {
        height: 48%;
        width: 36%;
        border-top-left-radius: 3.2rem;
        border-top-right-radius: 3.2rem;
        justify-content: center;
        box-shadow: 1px 17px 26px 4px rgba(0,0,0,0.25);
        -webkit-box-shadow: 1px 17px 26px 4px rgba(0,0,0,0.25);
        -moz-box-shadow: 1px 17px 26px 4px rgba(0,0,0,0.25);
    }

    .bottom {
        height: 48%;
        width: 36%;
        box-shadow: 18px 17px 26px 4px rgba(0,0,0,0.25);
        -webkit-box-shadow: 18px 17px 26px 4px rgba(0,0,0,0.25);
        -moz-box-shadow: 18px 17px 26px 4px rgba(0,0,0,0.25);
    }
}